<h1>Assign a Meal</h1>

<form method="GET" action="/assign">
  <label for="mealId">Choose a meal:</label>
  <select name="mealId" id="mealId">
    <% meals.forEach(meal => { %>
      <option value="<%= meal._id %>" <%= selectedMeal && selectedMeal._id.toString() === meal._id.toString() ? "selected" : "" %>>
        <%= meal.name %>
      </option>
    <% }) %>
  </select>
  <button type="submit">Load Ingredients</button>
</form>

<% if (selectedMeal) { %>
  <form method="POST" action="/assign">
    <input type="hidden" name="mealId" value="<%= selectedMeal._id %>">

    <label for="date">Date:</label>
    <input type="date" name="date" required>

    <label for="type">Meal Type:</label>
    <select name="type" required>
      <option value="breakfast">Breakfast</option>
      <option value="lunch">Lunch</option>
      <option value="dinner">Dinner</option>
      <option value="snack">Snack</option>
    </select>

    <h3>Choose ingredients to add to your shopping list:</h3>
    <% ingredientProducts.forEach(group => { %>
      <h4><%= group.ingredient %></h4>
      <% group.products.forEach(product => { %>
        <label>
          <input type="checkbox" name="selectedProducts" value="<%= group.ingredient %>:::<%= product.description %>:::<%= product.price %>">
          <%= product.description %> - $<%= product.price.toFixed(2) %>
        </label><br>
      <% }) %>
    <% }) %>

    <button type="submit">Assign Meal and Save Shopping List</button>
  </form>
<% } %>
